<!DOCTYPE html>
<html ng-app="reddit">
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-gv0oNvwnqzF6ULI9TVsSmnULNb3zasNysvWwfT/s4l8k5I+g6oFz9dye0wg3rQ2Q" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body ng-controller="MainController">

    <!-- Navigation -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Reddit Clone</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#" ng-click="togglePostForm()">Submit Post</a></li>

            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="view.search">
              </div>
            </form>

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sort By {{ view.sort }}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" ng-model="view.sort" ng-init="view.sort='-votes'">
                <li ng-click="view.sort='-votes'"><a>Votes</a></li>
                <li ng-click="view.sort='date'"><a>Date</a></li>
                <li ng-click="view.sort='title'"><a>Title</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Body -->
    <main class="container">

      <!-- New post form -->
        <form name="postForm" novalidate ng-submit="submitPost(postForm)" ng-show="view.showPostForm" class="form-horizontal" >
          <fieldset>
            <!-- New post title -->
            <div class="form-group" ng-class="{'has-success': postForm.title.$valid && postForm.title.$dirty, 'has-error': postForm.title.$invalid && postForm.title.$dirty}">
              <label for="title" class="col-lg-2 control-label">Title</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" name="title" id="title" placeholder="Enter a title"
                  ng-model="view.title"
                  ng-minlength=3
                  ng-maxlength=50
                  required />
              </div>
              <!-- Title validation -->
              <div class="error-container col-lg-8 col-lg-offset-2" ng-show="postForm.title.$dirty && postForm.title.$invalid">
                <span class="error" ng-show="postForm.title.$error.required">A title is required. Please enter a title.</span>
                <span class="error" ng-show="postForm.title.$error.minlength">Your title must be at least 3 characters.</span>
                <span class="error" ng-show="postForm.title.$error.maxlength">Your title can be no longer than 50 characters.</span>
              </div>
            </div>

            <!-- New post author -->
            <div class="form-group" ng-class="{'has-success': postForm.author.$valid && postForm.author.$dirty, 'has-error': postForm.author.$invalid && postForm.author.$dirty}">
              <label for="author" class="col-lg-2 control-label">Author</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" name="author" id="author" placeholder="Enter an author"
                  ng-model="view.author"
                  ng-minlength=3
                  ng-maxlength=50
                  required />
              </div>
              <!-- Author validation -->
              <div class="error-container col-lg-8 col-lg-offset-2" ng-show="postForm.author.$dirty && postForm.author.$invalid">
                <span class="error" ng-show="postForm.author.$error.required">An author name is required. Please enter a name.</span>
                <span class="error" ng-show="postForm.author.$error.minlength">Author name must be at least 3 characters.</span>
                <span class="error" ng-show="postForm.author.$error.maxlength">Author name can be no longer than 50 characters.</span>
              </div>
            </div>

            <!-- New post image URL -->
            <div class="form-group" ng-class="{'has-success': postForm.image.$valid && postForm.image.$dirty, 'has-error': postForm.image.$invalid && postForm.image.$dirty}">
              <label for="image" class="col-lg-2 control-label">Image URL</label>
              <div class="col-lg-8">
                <input type="url" class="form-control" name="image" id="image" placeholder="Enter an image URL"
                  ng-model="view.image"
                  required />
              </div>
              <!-- Image URL validation -->
              <div class="error-container col-lg-8 col-lg-offset-2" ng-show="postForm.image.$dirty && postForm.image.$invalid">
                <span class="error" ng-show="postForm.image.$error.required">An image name is required. Please enter an image URL.</span>
              </div>
            </div>

            <!-- New post description -->
            <div class="form-group" ng-class="{'has-success': postForm.description.$valid && postForm.description.$dirty, 'has-error': postForm.description.$invalid && postForm.description.$dirty}">
              <label for="description" class="col-lg-2 control-label">Description</label>
              <div class="col-lg-8">
                <textarea class="form-control" name="description" id="description" placeholder="Enter a description"
                  ng-model="view.description"
                  ng-minlength=3
                  ng-maxlength=500
                  required></textarea>
              </div>
              <!-- Description validation -->
              <div class="error-container col-lg-8 col-lg-offset-2" ng-show="postForm.description.$dirty && postForm.description.$invalid">
                <span class="error" ng-show="postForm.description.$error.required">An description is required. Please enter a description.</span>
                <span class="error" ng-show="postForm.description.$error.minlength">Description must be at least 3 characters.</span>
                <span class="error" ng-show="postForm.description.$error.maxlength">Description can be no longer than 500 characters.</span>
              </div>
            </div>

            <!-- Submit post -->
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <input type="submit" name="submit" value="Submit Post" class="btn btn-primary" ng-disabled="postForm.$invalid" />
              </div>
            </div>
          </fieldset>
        </form>

      <!-- Display all posts -->
      <div ng-repeat="post in view.posts | orderBy: view.sort | filter: view.search">
        <div class="row displayPost">
          <div class="col-xs-12 col-sm-4" class="displayFlex">
            <div class="image">
              <img ng-src="{{ post.image }}" />
            </div>
          </div>

          <div class="col-xs-12 col-sm-8">
            <div class="row">
              <h3 class="col-xs-12">{{ post.title }}
                <span class="likes" ng-click="addVote(post)">+</span>
                <span ng-class="{'positive': post.votes > 0, 'negative': post.votes < 0}"> {{ post.votes }}</span>
                <span class="dislikes" ng-click="removeVote(post)">-</span>
              </h3>
            </div>

            <h5>By: {{ post.author }}</h5>
            <p>{{ post.description }}</p>

            <div class="row commentInfo">
              <h5 class="inline">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                {{ post.date | amCalendar }} |
              </h5>
              <!-- View comments -->
              <h5  class="inline" ng-click="toggleComments(post)">
                <i class="fa fa-comment" aria-hidden="true"></i>
                <ng-pluralize count="post.comments.length"
                  when="{'1': '{} Comment', 'other': '{} Comments'}">
                </ng-pluralize> |
              </h5>
              <!-- Add comment -->
              <h5 class="inline" ng-click="toggleCommentForm(post)">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                 Add Comment
               </h5>
            </div>

            <!-- Comment Form -->
            <form name="commentForm" class="commentForm" ng-submit="submitComment(post, commentForm)" ng-show="post.showCommentForm">
              <div class="form-group" ng-class="{'has-success': commentForm.commentAuthor.$valid && commentForm.commentAuthor.$dirty, 'has-error': commentForm.commentAuthor.$invalid && commentForm.commentAuthor.$dirty}">

                <!-- Comment author -->
                <label for="commentAuthor">Author</label>
                <input type="text" name="commentAuthor" id="commentAuthor" class="form-control" placeholder="Enter a name"
                  ng-model="view.commentAuthor"
                  ng-minlength: 3
                  ng-maxlength: 50
                  required />
                <!-- Author validation -->
                <div class="error-container col-xs-8" ng-show="commentForm.commentAuthor.$dirty && commentForm.CommentAuthor.$invalid">
                  <span class="error" ng-show="commentForm.CommentAuthor.$error.required">A name is required. Please enter a name.</span>
                  <span class="error" ng-show="commentForm.CommentAuthor.$error.minlength">Name must be at least 3 characters.</span>
                  <span class="error" ng-show="commentForm.CommentAuthor.$error.maxlength">Name can be no longer than 500 characters.</span>
                </div>
              </div>

              <!-- Comment content -->
              <div class="form-group" ng-class="{'has-success': commentForm.comment.$valid && commentForm.comment.$dirty, 'has-error': commentForm.comment.$invalid && commentForm.comment.$dirty}">
                <label for="comment">Comment</label>
                <input type="text" name="comment" id="comment" class="form-control" placeholder="Enter a comment"
                  ng-model="view.comment"
                  ng-minlength: 3
                  ng-maxlength: 200
                  required />
                <p ng-show="commentForm.comment.$invalid && commentForm.comment.$dirty" class="invalid">
                  An Comment is Required
                </p>
                <!-- Comment validation -->
                <div class="error-container col-xs-8" ng-show="commentForm.comment.$dirty && commentForm.comment.$invalid">
                  <span class="error" ng-show="commentForm.comment.$error.required">An comment is required. Please enter a comment.</span>
                  <span class="error" ng-show="commentForm.comment.$error.minlength">Comment must be at least 3 characters.</span>
                  <span class="error" ng-show="commentForm.comment.$error.maxlength">Comment can be no longer than 200 characters.</span>
                </div>
              </div>

              <!-- Subimt comment -->
              <input type="submit" name="submit" value="Submit Comment" class="btn btn-primary" ng-disabled="commentForm.$invalid">
            </form>

            <!-- View comments -->
            <div class="comments" ng-repeat="comments in post.comments" ng-show="post.showComments">
              <p><strong>{{comments.commentAuthor}}</strong>: <span>{{comments.comment}}</span></p>
            </div>

          </div>
        </div>
      </div>

    </main>


    <!-- Scripts -->
    <!-- bootstrap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <!-- angular moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
    <!-- local -->
    <script src="app.js"></script>
  </body>
</html>
